*{
	font-family:arial;
	width:960px;
}

.overall{
	margin:0 10% 0 10%;
}
.head-part{
	text-align:right;
}
.big-name{
	font-size:75px;
}
.small-title{
	font-size:15px;
}
.coolpic{

}
.one, .two, .three{
	float:left;
	height:400px;
	width:300px;
	padding:5px;
}
.portfolio-small-pic{
	width:300px;
}
.title{
	font-size:30px;
	font-weight:lighter;
}
